{% extends 'order_index.html' %}
{% block manual_headline %}Thank you for your order, {{ customer.first_name }}!{% endblock %}
{% block content %}
<div class="content-start flex-box-content flex-auto mt-10 pl-4 mx-auto">
    <div class="contentborder">
        <span class="flex justify-between">  
        <h2 class="text-2xl font-bold mb-4" id="background">Order Details</h2>
        </span>
        <p class="pb-4 font-lg">
            Thank you for choosing LewnyToons Studios! Below are the details regarding your order. The finished project will be sent to the email shown below. 
            If you have questions about your order, please check the FAQ portion of the site. If you have any issues or questions not answered by th FAQ's. please 
            reach out to lewnytoonsmusic@gmail.com.
        </p>
    </div>
</div>
<div class="contentborder">
    <span class="mb-2">
        <span class="flex flex-col bg-slate-800 bg-opacity-25 border-slate-600 rounded-lg pl-4 pr-2 py-2 mb-4 mt-2">
            <span class="flex flex-row justify-between">
                <h3 class="text-xl font-bold mb-1">Customer Details</h3>
            </span>
            <p class="py-1"><strong>Name:</strong> {{ customer.first_name }} {{ customer.last_name }}</p>
            {% if customer.phone %}
            <p class="py-1"><strong>Phone Number:</strong> {{ customer.phone }}
            {% else %}
            <p class="py-1"><strong>Phone Number:</strong> Not provided.</p>
            {% endif %}
            <p class="py-1"><strong>Email Address:</strong> {{ customer.email }}</p>
        </span>
    </span>
</div>
<div class="contentborder">
    <span class="mb-2">
        <span class="flex flex-col bg-slate-800 bg-opacity-25 border-slate-600 rounded-lg pl-4 pr-2 py-2 mt-2 mb-4">
            <span class="flex flex-row justify-between">
                <h3 class="text-xl font-bold mb-1">Order Details</h3>
            </span>
            <p class="py-1"><strong>Order total:</strong> ${{ order.customer_paid }}</p>
            <p class="py-1"><strong>Order includes:</strong> {{ order.price.price_description }}</p>
            {% if order.cust_requests %}
            <p class="py-1"><strong>Requests:</strong> {{ order.cust_requests }}</p>
            {% else %}
            <p class="py-1"><strong>Requests:</strong> No specific requests made.</p>
            {% endif %}
            {% if order.reference_track %}
            <p class="py-1"><strong>Reference track link:</strong> {{ order.reference_track }}
            {% else %}
            <p class="py-1"><strong>Reference track link:</strong> No reference track linked.</p>
            {% endif %}
            {% if order.music_file %}
            <p class="py-1"><strong>Music file:</strong> {{ order.music_file }}
            {% else %}
            <p class="py-1"><strong>Music file:</strong> No music file uploaded.</p>
            {% endif %}
            <p class="py-1"><strong>Order Date:</strong> {{ order.order_date }}
            <p class="py-1"><strong>Expected Completion:</strong> {{ order.fullfilment_date }}</p>
        </span>
    </span>
</div>
{% endblock %}