{% extends 'index.html' %}
{% load static %}
{% block headline %}
{% endblock %}
{% block content %}
<div>
    
        <div class="flex flex-container bg-violet-900 bg-opacity-25 shadow-2xl rounded-md border-slate-800 border-2 px-2 py-2 flex-auto mx-auto mt-10 w-3/4">
            <div class="grid grid-cols-12 gap-4">
                <div class="flex flex-col col-span-2">
                    <a href="https://www.linkedin.com/in/lewis-fletcher-8708a6208"><img src="{% static 'lewis.jpg' %}"  class="max-h-32 my-auto max-w-full rounded-full brightness-75 hover:grayscale border-4 border-slate-800 h-auto w-auto" alt="Lewis Fletcher"></a>
                    <div class="mx-auto text-center">
                        <a class="mx-auto" href="https://github.com/LewisFletcher" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-github"></i></a>
                        <a class="mx-auto" href="lew.fletcher3@gmail.com" rel="nofollow noopener noreferrer"><i class="far fa-fw fa-envelope"></i></a>
                    </div>
                </div>
                <div class="col-span-10">
                    <h1 class="text-xl font-bold" id="lewisabout">Lewis Fletcher - About Me</h1>
                    <p>Thank you for visiting my portfolio! I am an aspiring programmer with a love of music. This showcase website was built with Django and Tailwind CSS. I am currently seeking work in the software industry as an entry level programmer in Django or Python. For my background, skills, and history, please continue reading.</p>
                </div>
            </div>
        </div>
   
</div>
<div class="content-start flex-box-content flex-auto mx-auto mt-10 pl-4">
    <div class="contentborder">
        <h2 class="text-xl font-bold mb-4" id="background">Site Background</h2>
        <p class="pb-4">When I began building this website, my intention was to create a platform which I could use to share my music with the world. This turned from a small project into a passion for coding, transforming a small website into so much more.
            As I am most familiar with Python, I chose to build this website with Django, along with Tailwind's CSS for styling purposes. I utilized Django's database features to design a database for the upkeep of the blog, merch, and music sections of this website. 
            This website has no CRUD interface as the only user posting is myself, through the administrator section. I am very familiar with CRUD applications and am more than capable of adding this feature to a site (with or without a required login).
        </p>
    </div>
    <div class="contentborder">
        <h3 class="text-xl font-bold mb-4" id="skills">My Skills</h2>
        <ul>
            <li>
                <strong>Python:</strong> I have 2 years of experience writing code in Python, and have built a few applications with the language. The source code and details of these applications can be found on my <a href="https://github.com/LewisFletcher">github</a>.
                The logic for this website is written in Python.
            </li>
            <li class="pt-2">
                <strong>Django:</strong> From database modeling to web security to admininstrative interfaces, Django offers everything. I love the power and the ease of use offered by Django and I am well versed in using it's features and file structures to quickly develop websites.
                Along with the LewnyToons Studios website you are now viewing, I also used Django to design the following websites:
            <div class="pl-10">   
                <ul class="list-disc">
                    <li class=>
                    <a href="https://creativeuniverse-production.up.railway.app"><strong>Creative Universe Art</strong></a>, a database heavy art showcasing site.*
                    </li>
                    <li>
                        <a href="https://mjevinsphotography-production.up.railway.app"><strong>Mel Jevins Photography</strong></a>, a portfolio site for a photographer.*
                    </li>
                </ul>
            </div> 
                <li class="pt-2">
                All of the sites I have built contain admininstrative functionalities which allow the site owners to update their websites 
                without any understanding of the code or Django to ensure a pleasent experience with their website and the ability to continously update it.
                Creative Universe Art also allows users to create an account and post their own art on the 'Share your Art' section of the website. *These websites are still in development
                and are not yet being hosted online. This webpage will be updated with links to these sites once the site owners aquire their domain names.
                </li>
            </li>
            <li class="pt-2 pb-4">
                <strong>HTML/CSS:</strong> While I am more comfortable working on the back-end of web development, 
                I have a great understanding of HTML and CSS and feel more than comfortable using these mark-up languages to make my websites more user friendly and pleasent to look at and use.
                I do enjoy using frameworks like Tailwind CSS to speed up the process of a styling a website. I always look for a way to work smarter!
            </li>
        </ul>
    </div>
    <div class="contentborder">
        <h3 class="text-xl font-bold mb-4 mt-4" id="roles">Roles I'm Looking For</h2>
            <ul class="list-disc pl-6">
                <li>
                   <strong>Django Developer:</strong> I am extremely fluent in building websites with Django. When I come across a new challenge with the framework, I am more than capable of finding solutions with the Django documentation.
                   I would love to join a team for upkeep, or the creation of a new websites as a personal site or as part of a SAAS company. I would be a great addition to a team and offer a wealth of knowledge on building websites
                    with Django. For proof of my great work, check out the websites linked above or continue browsing this website and checking out it's features.
                </li>
                <li>
                    <strong>Database Manager:</strong> I have always loved organizing things, so organizing data in a database comes very naturally to me. Relational databases are a beautiful way to conceptualize the relationship between 
                    pieces of data, making building/maintaining a database one huge puzzle. This is a puzzle I love solving in the most efficient way, and would accept any challenge that comes my way. Please consider me for any database related 
                    roles you may be looking to fill. My experience with database management systems is limited to MySQL, though I am more than capable of using the SQL language and am confident I could apply these skills to any database system I am tasked with using.
                 </li>
                 <li class="pb-4">
                    <strong>Junior Python Developer:</strong> Having made a few projects in python, such as a reddit bot and a meal prep application (all linked below), I have a solid understanding of the language and am able to complete
                     most tasks. I am at a level with Python where I may have to stop and read the documentation for certain libraries as I work to complete my goals, but will always find a solution. I am never afraid to reach out and find better ways to do things,
                     and for this reason I would like to join a company who has some patience for an entry-level python developer and is willing to lend a hand from time to time, 
                     though I am more than confident I will be an asset to your team as I am a fast learner and pick things up as I go.
                 </li>
            </ul>
    </div>
    <div class="contentborder">
        <h3 class="text-xl font-bold mb-4 mt-4" id="projects">My Projects</h2>
          <ul>
            <li>
               <strong>Completed Django Projects:</strong>
               <ul class="list-disc pl-10">
                <li>
                    LewnyToons Studios
                </li>
               </ul>
            </li>
          </ul>
          <ul>
            <li>
               <strong>Completed Python Projects:</strong>
               <ul class="list-disc pl-10">
                <li>
                    Reddit Bot - Replies to redditors whose birthday it is, saying 'Happy Cake day!'.
                </li>
                <li>
                    Python stock trading bot with alpaca
                </li>
               </ul>
            </li>
          </ul>
    </div>
    <div class="contentborder">
        <h3 class="text-xl font-bold mb-4 mt-4" id="lewiscontact">Contact Information</h2>
        <p class="pb-4">If I have applied for a role at your company, please contact me with the provided contact information.
             All other inquriries should be sent to my email: <strong>lew.fletcher3@gmail.com</strong>
        </p>
    </div>
</div>

{% endblock %}
