{% extends 'index.html' %}
{% load static %}
{% block headline %}
{% endblock %}
{% block content %}
<div>
    
        <div class="flex flex-container bg-violet-900 bg-opacity-25 shadow-2xl rounded-md border-slate-800 border-2 px-2 py-2 flex-auto mx-auto mt-10 w-3/4">
            <div class="grid grid-cols-12 gap-4">
                <div class="flex flex-col col-span-2">
                    <a href="https://www.linkedin.com/in/lewis-fletcher-8708a6208"><img src="{% static 'lewis.jpg' %}"  class="max-h-32 my-auto max-w-full rounded-full brightness-75 hover:grayscale border-4 border-slate-800 h-auto w-auto" alt="Lewis Fletcher"></a>
                    <div class="mx-auto text-center">
                        <a class="mx-auto" href="https://github.com/LewisFletcher" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-github"></i></a>
                        <a class="mx-auto" href="lew.fletcher3@gmail.com" rel="nofollow noopener noreferrer"><i class="far fa-fw fa-envelope"></i></a>
                    </div>
                </div>
                <div class="col-span-10">
                    <h1 class="text-xl font-bold" id="lewisabout">Lewis Fletcher - About Me</h1>
                    <p>Thank you for visiting my portfolio! I am an aspiring programmer with a love of music. This showcase website was built with Django and Tailwind CSS. I am currently seeking work in the software industry as an entry level programmer in Django or Python. For my background, skills, and history, please continue reading.</p>
                </div>
            </div>
        </div>
   
</div>
<div class="content-start flex-box-content flex-auto mx-auto mt-10 pl-4">
    <div class="contentborder">
        <h2 class="text-xl font-bold mb-4" id="background">Site Background</h2>
        <p class="pb-4">When I began building this website, my intention was to create a platform which I could use to share my music with the world. This turned from a small project into a passion for coding, transforming a small website into so much more.
            As I am most familiar with Python, I chose to build this website with Django, along with Tailwind's CSS for styling purposes. I utilized Django's database features to design a database for the upkeep of the blog, merch, and music sections of this website. 
            This website has no CRUD interface as the only user posting is myself, through the administrator section. I am very familiar with CRUD applications and am more than capable of adding this feature to a site (with or without a required login).
        </p>
    </div>
    <div class="contentborder">
        <h3 class="text-xl font-bold mb-4" id="skills">My Skills</h2>
        <ul>
            <li>
                <strong>Python:</strong> I have 4 years of experience writing code in Python, and have built a few applications with the language. The source code and details of these applications can be found on my <a href="https://github.com/LewisFletcher">github</a>.
                The logic for this website is written in Python with Django. Some of my python projects are private, including a bot that interfaces with Alpaca and is capable of trading stocks.
            </li>
            <li>
                <strong>Pandas/Data Analysis:</strong> When it comes to working with data from spreadhseets or Pandas dataframes, I do not fall short. If we are working with Django, I can import data along with its logical relationships into databases with ease. Inside or outside of
                Django, I can manipulate data and provide insights according to a clients needs. One of my larger projects for a feed manufacturer had a spreadsheet full of unorganized data. I was able to use pandas to extract it, build a Django database, and proovide analytics into their
                sales/product output while even preserving customers order history, bringing the spreadsheet data in as historical site data.
            </li>
            <li class="pt-2">
                <strong>Django:</strong> From database modeling to web security, coupled with its admininstrative interfaces, Django offers everything. I love the power and the ease of use offered by Django and I am well versed in using it's features and file structures to quickly develop websites.
                Along with the LewnyToons Studios website you are now viewing, I also used Django to design the following websites:
            <div class="pl-10">   
                <ul class="list-disc">
                    <li class=>
                        <a href="https://creativeuniverse-production.up.railway.app"><strong>Creative Universe Productions</strong></a>, a database heavy art showcasing site.
                    </li>
                    <li>
                        <a href="https://www.meljevinsphotography.co.uk/"><strong>Mel Jevins Photography</strong></a>, a portfolio site for a photographer.
                    </li>
                    <li>
                        <a href="https://wethemovement.org"><strong>We The Movement</strong></a>, a website for the "We The" movement.
                    </li>
                </ul>
            </div> 
            </li>
            <li class="pt-2">
                <strong>Responsive Design:</strong> While I am more comfortable working in the back-end, 
                I have a great understanding of Responsive Design and feel more than comfortable using these design principles to make my websites more user friendly and pleasent to look at and use.
                I do enjoy using frameworks like Tailwind CSS or Bootstrap to speed up the process of a styling a website. I always look for a way to work smarter!
            </li>
            <li class="pt-2 pb-4">
                <strong>Javascript/Javascript Frameworks:</strong> I can make a very fluid and interactive UI with Javascript. I prfer using frameworks, like AlpineJS or JQuery, to simplify the process.
                Despite these frameworks, I can and do use vanilla Javascript when needed.
            </li>
            <li class="pt-2 pb-4">
                <strong>RESTful APIs:</strong> Having worked with stripe, alpaca, gpt, and a suite of other RESTful API's, I am an expert in working with them and parsing their responses.
            </li>
            <li class="pt-2 pb-4">
                <strong>AWS/Google Cloud:</strong> I use AWS S3 to host the media and static content for most of my projects, with the exception of one large site using Google Cloud for hosting and media. I use Amazon SES services
                for emails from any site I have developed. I am an expert when it comes to using AWS, and intermediate with Google Cloud. I would excel with any project relying on either service.
            </li>
            <li class="pt-2 pb-4">
                <strong>Testing and QA:</strong> I test my projects meticulously. Using pythons TestCase, I write tests for every possible security flaw or error I can think of. Any time I make a large change to one of my active websites, these
                extensive tests ensure I am making no breaking changes. I do not need to be remonded to tets my work; and make both manual tests amd automated tests a part of my work flow.
            </li>
            <li class="pt-2 pb-4">
                <strong>Github:</strong> I use Github foor version control, documentation hosting, open source contributions, and hosting my own pypi packages. I am well versed in Github/Git.
            </li>
        </ul>
    </div>
    <div class="contentborder">
        <h3 class="text-xl font-bold mb-4 mt-4" id="roles">Roles I'm Looking For</h2>
            <ul class="list-disc pl-6">
                <li>
                   <strong>Django Developer:</strong> I am extremely fluent in building websites with Django. When I come across a new challenge with the framework, I am more than capable of finding solutions with the Django documentation.
                   I would love to join a team for upkeep, or the creation of a new websites as a personal site or as part of a SAAS company. I would be a great addition to a team and offer a wealth of knowledge on building websites
                    with Django. For proof of my great work, check out the websites linked above or continue browsing this website and checking out it's features.
                </li>
                <li>
                    <strong>Database Manager:</strong> I have always loved organizing things, so organizing data in a database comes very naturally to me. Relational databases are a beautiful way to conceptualize the relationship between 
                    pieces of data, making building/maintaining a database one huge puzzle. This is a puzzle I love solving in the most efficient way, and would accept any challenge that comes my way. Please consider me for any database related 
                    roles you may be looking to fill. My experience with database management systems includes MySQL, SQLLite and Postgres, and I am more than capable of using the SQL language and am confident I could apply these skills to any database system not mentioned here.
                 </li>
                 <li class="pb-4">
                    <strong>Python Developer:</strong> Having made several projects in python, such as a reddit bot and trading bot, along with several Django projects and a Django package offered via pypi, I have a solid understanding of the language and am able to complete
                     any task that is thrown my way. While my work experience thus far has been focused on using python with Django to make websites, I am confident that my programming skills can be applied to any task.
                 </li>
            </ul>
    </div>
    <div class="contentborder">
        <h3 class="text-xl font-bold mb-4 mt-4" id="projects">My Projects</h2>
          <ul>
            <li>
               <strong>Completed Django Projects:</strong>
               <ul class="list-disc pl-10">
                <li>
                    LewnyToons Studios (You're here now!)
                </li>
                <li>
                    <a href="https://www.meljevinsphotography.co.uk/">Mel Jevins Photography</a>
                </li>
                <li>
                    <a href="https://wethemovement.org">We The Movement</a>
                </li>
                <li>
                    <a href="https://creativeuniverse-production.up.railway.app">Creative Universe Productions</a>
                </li>
               </ul>
            </li>
          </ul>
          <ul>
            <li>
               <strong>Django Packages I Authored/Maintain:</strong>
               <ul class="list-disc pl-10">
                <li>
                    <a href="https://github.com/LewisFletcher/django-easy-docs">Django Easy Docs</a>
                </li>
               </ul>
            </li>
          </ul>
          <ul>
            <li>
               <strong>Completed Python Projects:</strong>
               <ul class="list-disc pl-10">
                <li>
                    Reddit Bot - Replies to redditors whose birthday it is, saying 'Happy Cake day!'. (Offline since Reddit API changes in 2023)
                </li>
                <li>
                    Python stock trading bot with alpaca (private repo)
                </li>
               </ul>
            </li>
          </ul>
    </div>
    <div class="contentborder">
        <h3 class="text-xl font-bold mb-4 mt-4" id="lewiscontact">Contact Information</h2>
        <p class="pb-4">If I have applied for a role at your company, please contact me with the provided contact information.
             All other inquriries should be sent to my email: <strong>lew.fletcher3@gmail.com</strong>
        </p>
    </div>
</div>

{% endblock %}
