{% extends 'index.html' %}
{% block title %}LewnyToons Merchandise{% endblock %}
{% block meta_description %}LewnyToons merchandise is available for sale here.{% endblock %}
{% block manual_headline %}Merchandise Coming Soon...{% endblock %}

{% block sidebar %}
{% endblock %}
{% block content %}
<div class="content-start mx-auto mt-5">   
    <p>We're sorry! No merchandise is available at this time. LenwyToons is currently working with an artist and merchandise will be available soon.
        Thank you for your patience.
    </p>
</div>
{% endblock %}