{% extends 'index.html' %}

{% block content %}
<div class="content-start flex-box-content flex-auto mt-10 pl-4 mx-auto">
    <div class="contentborder">
        <span class="flex justify-between">
        <h2 class="text-2xl font-bold mb-4" id="background">Before and After Examples</h2>
        <button class="lewny_button mb-2 pr-4"><a href="{% url 'custdetails' %}">Begin Your Order</a></button>
        </span>
        <p class="pb-4 font-lg">
            Thank you for considering LewnyToons Studios for your music needs! Below you will find several 
            before and afer clips from songs LewnyToons Studios has mixed and mastered for various artists. 
            If you are ready to place an order, click 'Begin Order' to purchase your service today! 
            If you still have questions, check out our FAQ page <a href="/musicstudios/frequently-asked-questions"><strong>here</strong></a>.
        </p>
    </div>
    {% for sample in samples %}
    <div class="contentborder"> 
        <span class="">
            <h3 class="text-2xl font-bold mb-1" id="mnmpack">{{ sample.song_name }}</h3>
            <h4 class="font-semibold mb-2">By: {{ sample.song_artist }}</h4>
            <h5 class="font-bold text-xl mb-2">Before: </h5>
            <div>
                <audio controls><source src="{{ sample.before_mix.url }}" type="audio/mpeg"></audio>
            </div>
            <h5 class="font-bold text-xl mb-2">After: </h5>
            <div>
                <audio controls><source src="{{ sample.after_mix.url }}" type="audio/mpeg"></audio>
            </div>
        </span>
    <p>{{ sample.description }}
    </div>
    {% endfor %}
</div>
{% endblock %}